:root {
    --spinner-size: min(3dvh, 3dvw);
}

.spinner {
    --fg-color: #fff;
    --bg-color: #00ccff;
    --thickness: calc(0.05 * var(--spinner-size));
    --offset: calc(-50dvw + var(--spinner-size)) calc(50dvh - var(--spinner-size));
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    inset: 0;
    translate: var(--offset);
    border-top: var(--thickness) solid var(--fg-color);
    border-right: var(--thickness) solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    pointer-events: none;
    overflow: visible;
}
.spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--spinner-size);
    height: var(--spinner-size);
    margin: auto;
    inset: 0;
    border-radius: 50%;
    translate: var(--offset), 0;
    border-left: var(--thickness) solid var(--bg-color);
    border-bottom: var(--thickness) solid transparent;
    animation: rotation 0.5s linear infinite reverse;
    pointer-events: none;
    overflow: visible;
}
.loader.error-state > .spinner {
    display: none;
}
.loader > .caption {
    --color: #fff;
    align-content: last baseline;
    text-align: left center;
    inset: 0;
    position: absolute;
    left: calc(var(--spinner-size) * 2);
    bottom: calc(var(--spinner-size) / 2);
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--spinner-size);
}
.loader {
    --blur: 0px;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    pointer-events: none;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    &.cover, &.error-state {
        pointer-events: all;
    }
    &.cover {
        --blur: 10px;
        background: rgba(0, 0, 0, 0.15);
    }
    &.error-state {
        --blur: 20px;
        background: rgba(255, 0, 0, 0.3);
    }
}
.loader.error-state > .spinner {
    --bg-color: #ff5500;
}
.loader.hidden,
.loader.hidden::before {
    display: none;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
