canvas {
    position: fixed;
    width: 100dvw;
    max-width: max-content;
    height: 100dvh;
    margin: 0;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #11191c;
}